<!Doctype html>
<html>
<head>
<title>mypage</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="Gurram_Phanivardhan.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>


</head>


<body>


        <div class="container-fluid">
                <div class="row" >
                    <ul>
                        <div class="col-md-2 menuitems ">
                            <li >Phanivardhan </li>
            
                              </div>
                              <div class="col-md-1 head">
                                
                                           <li><a href="/">Home</a></li>
                                   </div>
                                   <div class="col-md-1 head">
                                   <li><a href="calc">mypage</a></li>
                                   </div>
                                    <div class="col-md-1 head">
                                   <li><a href=contact>Contact</a></li>
                                  </div>
                                  <div class="col-md-1 head">
                                   <li><a href=guestbook>Guestbook</a></li>
                   </div>   
                              <div class="col-md-2 head">
                              </div>
                 <div class="col-md-1 head">
                                 <li><a href="https://www.linkedin.com/in/phanivardhan-gurram-34810512b/"><i style="color:#5a95f4;position:center;" class="fa fa-linkedin"></i></a></li>
                         </div>    
         
                         <div class="col-md-1 head">
                                         <li><a href="https://www.facebook.com/gurramphanivardhan"><i style="color:blue;" class="fa fa-facebook "></i></a></li>
                                 </div>    
         
                                 <div class="col-md-1 head">
                                                 <li><a href="https://bitbucket.org/"><i style="position:center;color:cornflowerblue;" class="fa fa-bitbucket"></i></a></li>
                                         </div>    
                                         <div class="col-md-1 head">
                                                         <li><a href="https://github.com/phanivardhan1"><i style="position:center;color:dimgray;" class="fa fa-github top"></i></a></li>
                                                 </div>    
                   </ul>
            
                        
                    </div>

            <div class="row">
          
                <div class="col-md-6 contact">
                  <script src="vowels.js"> </script>
                
                        <table class="table1 table">
                                <thead>
                                        <tr>
                                          <td><b>Enter length of cuboid :</b></td>
              
                                          <td> <input type="text" id="txtbox1" name="firstname" placeholder="length in cm" required>
                                          
                                          </td>
                                          
                                        </tr>
                                        <tr>
                                            <td><b>Enter breadth of cuboid:</b></td>
                
                                            <td> <input type="text" id="txtbox2" name="firstname" placeholder="breadth in cm"  required>
                                            
                                            </td>
                                            
                                          </tr>
                                          <tr>
                                              <td><b>Enter heigsht of cuboid :</b></td>
                  
                                              <td> <input type="text" id="txtbox3" name="firstname" placeholder="height in cm" required>
                                              
                                              </td>
                                              
                                            </tr>
                                            <tr>
                                                <td><input type="submit" class="btn-primary " onclick="volume()"></td>
                    
                                                <td> 
                                                
                                                </td>
                                                
                                              </tr>
                                              <tr>
                                                  <td><b>volume of cuboid:</b></td>
                      
                                                  <td> <input type="text" id="txtbox4" name="firstname" placeholder="volume ">
                                                  
                                                  </td>
                                                  
                                                </tr>
                                      </thead>

                        </table>
                       
<br/>
                     


                       
                             
                    </div>




                </div>




            
</div>
<script src="vowels.js"></script>
            </body>

            
            </html>