<!Doctype html>
<html>
<head>
<title>mypage</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="Gurram_Phanivardhan.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<body>
    <nav>
        
<div class="container-fluid">
<div class="row" >

         <ul>
         <div class="col-md-2 menuitems ">
         <li >Phanivardhan </li>

           </div>

           <div class="col-md-1 head">
            
                       <li><a href="/">Home</a></li>
               </div>
               <div class="col-md-1 head">
               <li><a href="calc">mypage</a></li>
               </div>
                <div class="col-md-1 head">
               <li><a href=contact>Contact</a></li>
              </div>
              <div class="col-md-1 head">
               <li><a href=guestbook>Guestbook</a></li>
</div>   
  
      <div class="col-md-2 head">
              </div>
 <div class="col-md-1 head">
                 <li><a href="https://www.linkedin.com/in/phanivardhan-gurram-34810512b/"><i style="color:#5a95f4;position:center;" class="fa fa-linkedin"></i></a></li>
         </div>    

         <div class="col-md-1 head">
                         <li><a href="https://www.facebook.com/gurramphanivardhan"><i style="color:blue;" class="fa fa-facebook "></i></a></li>
                 </div>    

                 <div class="col-md-1 head">
                                 <li><a href="https://bitbucket.org/"><i style="position:center;color:cornflowerblue;" class="fa fa-bitbucket"></i></a></li>
                         </div>    
                         <div class="col-md-1 head">
                                         <li><a href="https://github.com/phanivardhan1"><i style="position:center;color:dimgray;" class="fa fa-github top"></i></a></li>
                                 </div>    
      

 </div>
</div>
</nav>





            <div class="row" >

            <div class="col-md-5 contact">
           <form>
               <h4><b>Contact me</b></h4>
                <table class="table table.bordered">
                        <thead>
                          <tr>
                            <td><b>First Name:</b></td>

                            <td> <input type="text" id="txtbox" name="firstname" placeholder="Your name..">
                            
                            </td>
                            
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td><b>Last Name:</b></td>
                            <td><input type="text" id="txtbox" name="emailid" placeholder="Your last name.."></td>
                            
                          </tr>
                          <tr>
                            <td><b>email id:</b></td>
                            <td><input type="text" id="txtbox" name="emailid" placeholder="Your email.."> </td>
                            
                          </tr>
                          <tr>
                            <td><b>comments:</b></td>
                            <td>
                                <textarea rows="4" cols="50">
                                
                                
                                 </textarea>   
                            </td>
                           
                          </tr>
                         <tr>
                        <td>

                                <button type="button" class=" btn-primary">submit</button>
                            </td>


                         </tr>

                        </tbody>
                      </table>

           </form>
            </div>
                </div>
            
</div>






            </body>
            </html>