<!Doctype html>
<html lang="en">
<head>
<title>phanivardhan</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="Gurram_Phanivardhan.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
</head>


<body>
        <nav>
               
<div class="container-fluid">
<div class="row" >

                <ul>
                <div class="col-md-2 menuitems ">
                <li >Phanivardhan </li>

                  </div>

                <div class="col-md-1 head">
             
                        <li><a href="/">Home</a></li>
                </div>
                <div class="col-md-1 head">
                <li><a href="calc">mypage</a></li>
                </div>
                 <div class="col-md-1 head">
                <li><a href=contact>Contact</a></li>
               </div>
               <div class="col-md-1 head">
                <li><a href=guestbook>Guestbook</a></li>
</div>   
             <div class="col-md-2 head">
                     </div>
        <div class="col-md-1 head">
                        <li><a href="https://www.linkedin.com/in/phanivardhan-gurram-34810512b/"><i style="color:#5a95f4;position:center;" class="fa fa-linkedin"></i></a></li>
                </div>    

                <div class="col-md-1 head">
                                <li><a href="https://www.facebook.com/gurramphanivardhan"><i style="color:blue;" class="fa fa-facebook "></i></a></li>
                        </div>    

                        <div class="col-md-1 head">
                                        <li><a href="https://bitbucket.org/"><i style="position:center;color:cornflowerblue;" class="fa fa-bitbucket"></i></a></li>
                                </div>    
                                <div class="col-md-1 head">
                                                <li><a href="https://github.com/phanivardhan1"><i style="position:center;color:dimgray;" class="fa fa-github top"></i></a></li>
                                        </div>    
             

        </div>
</div>
</nav>

<div class="row" >  
                <div class="col-md-2" > 
<img src="images/my.jpg" id="imag" alt="not displaying" />
     </div>
<div class="col-md-5 back">
<article>
<header>
<h1 class="heading" >About Me      </h1>
</header>
<h3>   Background      </h3>
<p class="para">
I am phanivardhan from hyderabad,India.<br>
I completed my batchelors from mallareddy institute of technology in the year 2016.
<br>
I worked as a .NET developer in a startup company
</p>
<section>
<h3>   plans        </h3>
<p class="para">
I am interested to work as a web developer . <br>
I like to learn new technologies and try to implement them.
<br>
</p>
</section>
<section>
<h3>   My interests    </h3>
<p class="para">
I like playing cricket and table tennis . <br>
I like to play music instruments especially keyboard
<br>
</p>
</section>
</article>
</div>

<div class="col-md-5">
<iframe id="video" src="https://www.youtube.com/embed/hOWRGcpV204?rel=0"  allowfullscreen></iframe>
</div>
</div>
</body>
</html>