body{
	
	background-image: url("images/backg2.jpg");
		font-size:20px;
		


}
.back{
	
	margin-left:40px;
	border:1px solid silver;
	width:200px;
    padding-left: 20px;
    margin-top: 15px;
	
	
}
.heading{
	
	color:#DA1A29;
    padding-top:10px;
	margin-left:200px;
	font-family: verdana;



}

p.para{
color: silver;

}


h3{
	color:#DF761A;
	
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	background-color: #6E0210;
	height:54px;
	width:100%;
}

li {
    float: left;
}

li a {
    display: block;
	color: #A2C71D;
	font-size: 21px;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
	background-color: #111;
}

#imag{
   
	width:200px;
	height: 200px;
	float:left;
	border-radius:50%;

}
 #video{
  
	height:420px;
	width: 400px;
	border: 1px solid silver;
	margin-left:900px;
	margin-top:-380px;




 }


.contact{
 
	margin-left:250px;
	margin-top: 40px;
	border:1px solid silver;
	width: 250px;
	height:450px;
	background-color: #8CC0E2

	
 }
 .table
 {
	 width:200px;
	 height:350px;




 }


 .table1{
   height:200px;


 }
 #txtbox
 {
	 width:350px;
 }

 .btn{
width:350px;

 }
 .link{

	margin-top:10px;
 }

 .menuitems{
   
	padding-top: 12px;
	display: block;
	color:silver;
	font-size: 21px;
	text-align: left;
	padding-right: 15px;
	margin-left:10px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	


 }